.ritem{
    list-style-type: none;
    margin-left:25px;
    display: inline-flex;
}

.fnsbig{
    font-size: 30px;
    
}

.photo{
    height:300px; width: 300px;
}

.logo{
    height: 50px;
    width: 50px;
    border:8px;
    border-radius:45px;
    border-style: dashed; 
}

