{%include 'includes/navbar.html' %}
<h1 class="h1-responsive font-weight-bold text-center white-text my-3">
    MICRO VIDEOS </h1>
<h2 class="white-text font-weight-bold">
    <center>ADD VIDEO</center>
</h2>
<div style="width:600px; border:0px; border-style: groove; margin-top: 10px;" class="container-fluid responsive">
    <br />

    <form enctype="multipart/form-data" method="POST" class="form-group special-color-dark" style="color:aliceblue; font-size:20 px; font-weight: bold; border:15px; border-radius: 45px; border-style: groove; padding: 50px 50px;">
        <h3>{{msg}}</h3>
        {%csrf_token%}
        {{form}}
        <br>
        <input type="submit" value="UPLOAD!" class="form-control primary-color btn" style="height:50px; width:150px; color:black; font-weight:bolder;" /><br><br>
    </form>
    </center>
</div>